<form id="add-user" action="/users" method="POST">
  First name: <input type="text" name="firstname">
  Last name: <input type="text" name="lastname">
  Email: <input type="text" name="email">
  <input type="submit" value="Submit">
</form>

<%# https://stackoverflow.com/questions/736590/add-new-attribute-element-to-json-object-using-javascript %>
