<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

Search for a name: <input type="text" name="firstname">

<div id="results"></div>

<script>
$(document).ready(function(){
    $("input").keyup(function(event){

      //Store the value of what's currently been typed in the input field
      let text_input = $(this).val();

      //Store the current date and time in a variable
      let start = Date.now();

      //Create a setTimeout function, to limit the AJAX requests to 300 milliseconds
      setTimeout(function() {

      //The AJAX function
      $.ajax({

          url: "https://raw.githubusercontent.com/sucrebucre/user-information-app/ajax-implementation/users.json",
          type: 'GET',
          cache: false,
          success: function (result) {

          //JSON parse the result, that we got from the "url"/"success" property
          let obj = JSON.parse(result);

          //Create an empty array, in which we can store the names that meet the criteria of what has been typed by the user in the input field
          let array = [];

          //Loop over the object we just parsed ("users.json")
          for (i=0; i<obj.length; i++) {

            //At every iteration, create a string that contains the first name and the last name
            var string = obj[i].firstname + " " + obj[i].lastname;

            //Check if this string matches with what has been typed by the end user
            var present_in_string = string.includes(text_input);

            //If there is a match, add the full name to the array
            if (present_in_string == true) {
              array.push(obj[i].firstname + " " + obj[i].lastname);
            }

          }

          console.log(array);

          //Prepare formatting of an unordered list
          var str = '<ul>'

          //For every element in the array, add a list item
          array.forEach(function(item) {
            str += '<li>'+ item + '</li>';
          });

          str += '</ul>';

          //Show the content on the front-end
          document.getElementById("results").innerHTML = str;

          //If there is no input in the input field, show the following
          if (text_input == ""){
            document.getElementById("results").innerHTML = "<p>Type a name in order to search!</p>";
          }

          //If there is no match with user input, show the following
          if(1 > array.length) {
            document.getElementById("results").innerHTML = "<p>Nothing found, please try another name!</p>";
          }

          },
          error: function () {
              console.log("Not working");
          }
      });

    //Limit the AJAX function only to run every 300 milliseconds
    }, 300);

    });
});
</script>
