<form id="search-field" action="/search" method="POST">
  First name: <input type="text" name="firstname">
  Last name: <input type="text" name="lastname">
  <input type="submit" value="Submit">
</form>
